Source: highwaytohell
Section: non-free/comm
Priority: extra
Maintainer: Samuel MARTIN MORO <samuel@peerio.com>
Uploaders: Samuel MARTIN MORO <samuel@peerio.com>
Build-Depends: debhelper (>=9), rsync
Standards-Version: 3.9.6
Vcs-Git: git://github.com/faust64/highwaytohell

Package: highwaytohell
Architecture: all
Conflicts: nodejs, npm
Depends: adduser, make, gcc (>=4.9), g++ (>=4.9), libc6-dev, rsync, ca-certificates, inotify-tools, ldnsutils, ${misc:Depends}
Description: HighWayToHell
 A distributed configuration manager for BIND or NSD, based on
 Cassandra and Redis.
