<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
	<title>HighWayToHell</title>
	<link rel='shortcut icon' href='/static/fav/icon32.ico'/>
	<link rel='icon' sizes='16x16' href='/static/fav/icon16.ico'/>
	<link rel='icon' sizes='32x32' href='/static/fav/icon32.ico'/>
	<link rel='icon' sizes='64x64' href='/static/fav/icon64.ico'/>
	<link rel='icon' type='image/png' sizes='196x196' href='/static/fav/icon192.png'/>
	<link rel='icon' type='image/png' sizes='160x160' href='/static/fav/icon160.png'/>
	<link rel='icon' type='image/png' sizes='96x96' href='/static/fav/icon96.png'/>
	<link rel='icon' type='image/png' sizes='64x64' href='/static/fav/icon64.png'/>
	<link rel='icon' type='image/png' sizes='32x32' href='/static/fav/icon32.png'/>
	<link rel='icon' type='image/png' sizes='16x16' href='/static/fav/icon16.png'/>
	<link rel='apple-touch-icon' href='/static/fav/icon57.png'/>
	<link rel='apple-touch-icon' sizes='114x114' href='/static/fav/favicon114.png'/>
	<link rel='apple-touch-icon' sizes='72x72' href='/static/fav/favicon72.png'/>
	<link rel='apple-touch-icon' sizes='144x144' href='/static/fav/favicon144.png'/>
	<link rel='apple-touch-icon' sizes='60x60' href='/static/fav/favicon60.png'/>
	<link rel='apple-touch-icon' sizes='120x120' href='/static/fav/favicon120.png'/>
	<link rel='apple-touch-icon' sizes='76x76' href='/static/fav/favicon76.png'/>
	<link rel='apple-touch-icon' sizes='152x152' href='/static/fav/favicon152.png'/>
	<link rel='apple-touch-icon' sizes='180x180' href='/static/fav/favicon180.png'/>
	<meta name='msapplication-TileColor' content='#FF0000'/>
	<meta name='msapplication-TileImage' content='/static/fav/icon144.png'/>
	<meta name='msapplication-config' content='/static/dav/browserconfig.xml'/>
	<link href='/static/style.css' rel='stylesheet'/>
	<script src='/static/script.js' type='application/javascript'></script>
    </head>
    <body onload='load();'>
	<div class='logout'><a href='/logout'>Logout {{ username }}</a></div>
	<div id='overlay' ondrop='drop(event);' ondragover='allowDrop(event);'>
	    <div id='droppable' class='nestedoverlay' draggable='true' ondragstart='drag(event);'>
		<form id='formhealthchecks' method='post' action='/domains/{{ domain }}/admin/add'>
		    <a id='closeoverlay' onclick='hideForm()' href='#'></a>
		    <table id='formadd'>
			<tr>
			    <td id='formname' class='addformtitle' colspan='2'>Add Authorization</td>
			</tr>
			<tr>
			    <td class='inputlabel'>User ID<br/>or Primary Address</td>
			    <td class='inputdata'><input id='mgtuser' type='text' size='32' name='thirdParty'/></td>
			</tr>
			<tr>
			    <td class='inputlabel'>Role</td>
			    <td class='inputdata'>
				<select id='mgtrole' name='assumesRole'>
				    <option value='admin' selected>Admin</option>
				    <option value='manager'>Manager</option>
				    <option value='operator'>Operator</option>
				    <option value='viewer'>Viewer</option>
				</select>
			    </td>
			</tr>
			<tr>
			    <td class='inputsubmit' colspan='2'><input id='hacksubmit' type='submit' value='Register Authorization'/></td>
			</tr>
		    </table>
		</form>
	    </div>
	</div>
	<table id='mainpanel'>
	    <tr class='sections'>
		<th class='section'><a href='/domains'>Domains</a></th>
		<th class='section'><a href='/records/{{ domain }}'>Records</a></th>
		<th class='section'><a href='/healthchecks/{{ domain }}'>Health Checks</a></th>
		<th class='section'><a href='/notifications/{{ domain }}'>Notifications</a></th>
		<th class='section'><a href='/settings'>Account Settings</a></th>
	    </tr>
	    <tr>
		<td colspan='5'>
		    <table id='nestedpanel'>
			<tr>
			    <td class='toggleadd' colspan='5'><a onclick='addAuthorization("{{ domain }}");' href='#'>Add Authorization</a></td>
			</tr>
			<tr>
			    <th class='descname'>User ID</th>
			    <th class='descname'>Username</th>
			    <th class='descname'>Primary Address</th>
			    <th class='descname'>Role</th>
			    <th class='descname'>Drop privileges</th>
			</tr>
{{#records}}
			<tr>
			    <td onclick='editAuthorization("{{ domain }}", "{{ uuid }}", "{{ role }}");' class='descdata'>{{ uuid }}</td>
			    <td onclick='editAuthorization("{{ domain }}", "{{ uuid }}", "{{ role }}");' class='descdata'>{{ username }}</td>
			    <td onclick='editAuthorization("{{ domain }}", "{{ uuid }}", "{{ role }}");' class='descdata'>{{ emailaddr }}</td>
			    <td onclick='editAuthorization("{{ domain }}", "{{ uuid }}", "{{ role }}");' class='descdata'>{{ role }}</td>
			    <td class='record'><a onclick='dropAuthorization("{{ domain }}", "{{ uuid }}");' href='#' alt='Drop Authorization'><img class='deletelogoimg' src='/static/remove.png'/></a></td>
			</tr>
{{/records}}
		    </table>
		</td>
	    </tr>
	</table>
    </body>
</html>
