<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
	<title>HighWayToHell</title>
	<link rel='shortcut icon' href='/static/fav/icon32.ico'/>
	<link rel='icon' sizes='16x16' href='/static/fav/icon16.ico'/>
	<link rel='icon' sizes='32x32' href='/static/fav/icon32.ico'/>
	<link rel='icon' sizes='64x64' href='/static/fav/icon64.ico'/>
	<link rel='icon' type='image/png' sizes='196x196' href='/static/fav/icon192.png'/>
	<link rel='icon' type='image/png' sizes='160x160' href='/static/fav/icon160.png'/>
	<link rel='icon' type='image/png' sizes='96x96' href='/static/fav/icon96.png'/>
	<link rel='icon' type='image/png' sizes='64x64' href='/static/fav/icon64.png'/>
	<link rel='icon' type='image/png' sizes='32x32' href='/static/fav/icon32.png'/>
	<link rel='icon' type='image/png' sizes='16x16' href='/static/fav/icon16.png'/>
	<link rel='apple-touch-icon' href='/static/fav/icon57.png'/>
	<link rel='apple-touch-icon' sizes='114x114' href='/static/fav/favicon114.png'/>
	<link rel='apple-touch-icon' sizes='72x72' href='/static/fav/favicon72.png'/>
	<link rel='apple-touch-icon' sizes='144x144' href='/static/fav/favicon144.png'/>
	<link rel='apple-touch-icon' sizes='60x60' href='/static/fav/favicon60.png'/>
	<link rel='apple-touch-icon' sizes='120x120' href='/static/fav/favicon120.png'/>
	<link rel='apple-touch-icon' sizes='76x76' href='/static/fav/favicon76.png'/>
	<link rel='apple-touch-icon' sizes='152x152' href='/static/fav/favicon152.png'/>
	<link rel='apple-touch-icon' sizes='180x180' href='/static/fav/favicon180.png'/>
	<meta name='msapplication-TileColor' content='#FF0000'/>
	<meta name='msapplication-TileImage' content='/static/fav/icon144.png'/>
	<meta name='msapplication-config' content='/static/dav/browserconfig.xml'/>
	<link href='/static/style.css' rel='stylesheet'/>
	<script src='/static/script.js' type='application/javascript'></script>
    </head>
    <body onload='load();'>
	<div class='logout'><a href='/logout'>Logout {{ username }}</a></div>
	<div id='overlay' ondrop='drop(event);' ondragover='allowDrop(event);'>
	    <div id='droppable' class='nestedoverlay' draggable='true' ondragstart='drag(event);'>
		<form id='formcontacts' method='post' action='/settings/contacts/add'>
		    <a id='closeoverlay' onclick='hideForm()' href='#'></a>
		    <table id='formadd'>
			<tr>
			    <td id='formname' class='addformtitle' colspan='2'>Add Contact</td>
			</tr>
			<tr>
			    <td class='inputlabel'>type</td>
			    <td class='inputdata'>
				<select id='contacttype' name='contactType'>
				    <option value='smtp' selected>Mail</option>
				    <option value='sms'>SMS</option>
				</select>
			    </td>
			</tr>
			<tr>
			    <td class='inputlabel'>Address</td>
			    <td class='inputdata'><input id='contacttarget' type='text' size='32' name='contactTarget'/></td>
			</tr>
			<tr>
			    <td class='inputsubmit' colspan='2'><input type='submit' value='Add Contact Address'/></td>
			</tr>
		    </table>
		</form>
	    </div>
	</div>
	<table id='mainpanel'>
	    <tr class='sections'>
		<th class='section'><a href='/domains'>Domains</a></th>
		<td class='section'><div class='disabledsection'>Records</div></td>
		<td class='section'><div class='disabledsection'>Health Checks</div></td>
		<td class='section'><div class='disabledsection'>Notifications</div></td>
		<th class='section'><a href='/settings'>Account Settings</a></th>
	    </tr>
	    <tr>
		<td colspan='5'>
		    <table id='nestedpanel'>
			<tr>
			    <td class='toggleadd' colspan='5'><a onclick='showForm("Add Contact");' href='#'>Add Contact</a></td>
			</tr>
			<tr>
			    <th class='classifier'>Type</th>
			    <th class='classifier'>Target</th>
			    <th class='classifier'>Active</th>
			    <th class='classifier'>Drop Contact</th>
			</tr>
{{#records}}
			<tr>
			    <td class='record'>{{ type }}</td>
			    <td class='record'>{{ target }}</td>
			    <td class='record'>{{{ active }}}</td>
			    <td class='record'><a onclick='dropContact("{{ target }}");' href='#' alt='Drop Contact'><img class='deletelogoimg' src='/static/remove.png/'></a></td>
			</tr>
{{/records}}
		    </table>
		</td>
	    </tr>
	</table>
    </body>
</html>
