<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
	<title>HighWayToHell</title>
	<link rel='shortcut icon' href='/static/fav/icon32.ico'>
	<link rel='icon' sizes='16x16' href='/static/fav/icon16.ico'>
	<link rel='icon' sizes='32x32' href='/static/fav/icon32.ico'>
	<link rel='icon' sizes='64x64' href='/static/fav/icon64.ico'>
	<link rel='icon' type='image/png' sizes='196x196' href='/static/fav/icon192.png'>
	<link rel='icon' type='image/png' sizes='160x160' href='/static/fav/icon160.png'>
	<link rel='icon' type='image/png' sizes='96x96' href='/static/fav/icon96.png'>
	<link rel='icon' type='image/png' sizes='64x64' href='/static/fav/icon64.png'>
	<link rel='icon' type='image/png' sizes='32x32' href='/static/fav/icon32.png'>
	<link rel='icon' type='image/png' sizes='16x16' href='/static/fav/icon16.png'>
	<link rel='apple-touch-icon' href='/static/fav/icon57.png'>
	<link rel='apple-touch-icon' sizes='114x114' href='/static/fav/favicon114.png'>
	<link rel='apple-touch-icon' sizes='72x72' href='/static/fav/favicon72.png'>
	<link rel='apple-touch-icon' sizes='144x144' href='/static/fav/favicon144.png'>
	<link rel='apple-touch-icon' sizes='60x60' href='/static/fav/favicon60.png'>
	<link rel='apple-touch-icon' sizes='120x120' href='/static/fav/favicon120.png'>
	<link rel='apple-touch-icon' sizes='76x76' href='/static/fav/favicon76.png'>
	<link rel='apple-touch-icon' sizes='152x152' href='/static/fav/favicon152.png'>
	<link rel='apple-touch-icon' sizes='180x180' href='/static/fav/favicon180.png'>
	<meta name='msapplication-TileColor' content='#FF0000'>
	<meta name='msapplication-TileImage' content='/static/fav/icon144.png'>
	<meta name='msapplication-config' content='/static/dav/browserconfig.xml'>
	<link href='/static/style.css' rel='stylesheet'/>
	<script src='/static/script.js' type='application/javascript'></script>
    </head>
    <body onLoad='load();'>
	<div class='logout'><a href='/logout'>Logout {{ username }}</a></div>
	<div id='overlay' ondrop='drop(event)' ondragover='allowDrop(event)'>
	    <div id='droppable' class='nestedoverlay' draggable='true' ondragstart='drag(event)'>
		<form method='GET'>
		    <select id='contactHelper' style='display:none;'>
{{#contacts}}
			<option value='{{ target }}'>{{ target }}</option>
{{/contacts}}
		    </select>
		</form>
		<form id='formnotifications' method='POST'>
		    <a id='closeoverlay' onClick='hideForm()' href='#'></a>
		    <table id='formadd'>
			<tr>
			    <td id='formname' class='addformtitle' colspan='2'>Add Notification</td>
			</tr>
			<tr>
			    <td class=inputlabel>Watch Health Check ID</td>
			    <td class=inputdata>
				<input type='hidden' id='formAction' name='dowhat' value='add'/>
				<input type='hidden' id='formHelper' name='domainName' value='{{ domain }}' />
				<select id='checkid' name='checkId'>
{{#checks}}
				    <option value='{{ checkid }}'>{{ checktarget }} {{ checklabel }}</option>
{{/checks}}
				</select>
			    </td>
			</tr>
			<tr>
			    <td class=inputlabel>Type</td>
			    <td class=inputdata>
				<select id='notifytype' onChange='setNotificationTarget();' name='notifyType'>
				    <option value='http-post' selected>HTTP POST</option>
				    <option value='http-get'>HTTP GET</option>
				    <option value='contacts'>Contact Addresses</option>
				</select>
			    </td>
			</tr>
			<tr>
			    <td class=inputlabel>Target</td>
			    <td class=inputdata id='notifycontainer'><input id='notifytarget' type=text size=32 name='notifyTarget'/></td>
			</tr>
			<tr>
			    <td class=inputlabel>Notify Up After<br/>(0 to disable)</td>
			    <td class=inputdata>
				<select id='notifyup' name='notifyUp'>
				    <option value='0'>0</option>
				    <option value='1'>1</option>
				    <option value='2'>2</option>
				    <option value='3' selected>3</option>
				    <option value='4'>4</option>
				    <option value='5'>5</option>
				    <option value='6'>6</option>
				    <option value='7'>7</option>
				    <option value='8'>8</option>
				    <option value='9'>9</option>
				    <option value='10'>10</option>
				</select>
			    </td>
			</tr>
			<tr>
			    <td class=inputlabel>Notify Down After<br/>(0 to disable)</td>
			    <td class=inputdata>
				<select id='notifydown' name='notifyDown'>
				    <option value='0'>0</option>
				    <option value='1'>1</option>
				    <option value='2' selected>2</option>
				    <option value='3'>3</option>
				    <option value='4'>4</option>
				    <option value='5'>5</option>
				    <option value='6'>6</option>
				    <option value='7'>7</option>
				    <option value='8'>8</option>
				    <option value='9'>9</option>
				    <option value='10'>10</option>
				</select>
			    </td>
			</tr>
			<tr>
			    <td class=inputsubmit colspan='2'><input id='hacksubmit' type='submit' onClick='updateFormAction("notifications");' value='Register Notification'/></td>
			</tr>
		    </table>
		</form>
	    </div>
	</div>
	<table id='mainpanel'>
	    <tr class='sections'>
		<th class='section'><a href='/domains'>Domains</a></th>
		<th class='section'><a href='/records/{{ domain }}'>Records</a></th>
		<th class='section'><a href='/healthchecks/{{ domain }}'>Health Checks</a></th>
		<th class='section'><a href='/notifications/{{ domain }}'>Notifications</a></th>
		<th class='section'><a href='/settings'>Account Settings</a></th>
	    </tr>
	    <tr>
		<td colspan='5'>
		    <table id='nestedpanel'>
			<tr>
			    <td class='toggleadd' colspan='7'><a onClick='addNotification("{{ domain }}", "");' href='#'>Add Notification</a></td>
			</tr>
			<tr>
			    <th class='classifier'>Check ID</th>
			    <th class='classifier'>Check Label</th>
			    <th class='classifier'>Notification Type</th>
			    <th class='classifier'>Notifies Target</th>
			    <th class='classifier'>Notifies Up After<br/>(n healthy checks)</th>
			    <th class='classifier'>Notifies Down After<br/>(n healthy checks)</th>
			    <th class='classifier'>Drop Notification</th>
			</tr>
{{#records}}
			<tr>
			    <td onClick='editNotification("{{ domain }}", "{{ checkid }}", "{{ driver }}", "{{{ target }}}", {{ up }}, {{ down }});' class='record'><a href='/healthhistory/{{ domain }}/get/{{ checkid }}'>{{ checkid }}</a></td>
			    <td onClick='editNotification("{{ domain }}", "{{ checkid }}", "{{ driver }}", "{{{ target }}}", {{ up }}, {{ down }});' class='record'>{{{ label }}}</td>
			    <td onClick='editNotification("{{ domain }}", "{{ checkid }}", "{{ driver }}", "{{{ target }}}", {{ up }}, {{ down }});' class='record'>{{ driver }}</td>
			    <td onClick='editNotification("{{ domain }}", "{{ checkid }}", "{{ driver }}", "{{{ target }}}", {{ up }}, {{ down }});' class='record'>{{{ target }}}</td>
			    <td onClick='editNotification("{{ domain }}", "{{ checkid }}", "{{ driver }}", "{{{ target }}}", {{ up }}, {{ down }});' class='record'>{{ up }}</td>
			    <td onClick='editNotification("{{ domain }}", "{{ checkid }}", "{{ driver }}", "{{{ target }}}", {{ up }}, {{ down }});' class='record'>{{ down }}</td>
			    <td class='record'><a onClick='dropNotification("{{ domain }}", "{{ checkid }}", "{{ driver }}");' href='#' alt='Drop Notification'><img class='deletelogoimg' src='/static/remove.png'></a></td>
			</tr>
{{/records}}
		    </table>
		</td>
	    </tr>
	</table>
    </body>
</html>
