<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
	<title>HighWayToHell</title>
	<link rel='shortcut icon' href='/static/fav/icon32.ico'/>
	<link rel='icon' sizes='16x16' href='/static/fav/icon16.ico'/>
	<link rel='icon' sizes='32x32' href='/static/fav/icon32.ico'/>
	<link rel='icon' sizes='64x64' href='/static/fav/icon64.ico'/>
	<link rel='icon' type='image/png' sizes='196x196' href='/static/fav/icon192.png'/>
	<link rel='icon' type='image/png' sizes='160x160' href='/static/fav/icon160.png'/>
	<link rel='icon' type='image/png' sizes='96x96' href='/static/fav/icon96.png'/>
	<link rel='icon' type='image/png' sizes='64x64' href='/static/fav/icon64.png'/>
	<link rel='icon' type='image/png' sizes='32x32' href='/static/fav/icon32.png'/>
	<link rel='icon' type='image/png' sizes='16x16' href='/static/fav/icon16.png'/>
	<link rel='apple-touch-icon' href='/static/fav/icon57.png'/>
	<link rel='apple-touch-icon' sizes='114x114' href='/static/fav/favicon114.png'/>
	<link rel='apple-touch-icon' sizes='72x72' href='/static/fav/favicon72.png'/>
	<link rel='apple-touch-icon' sizes='144x144' href='/static/fav/favicon144.png'/>
	<link rel='apple-touch-icon' sizes='60x60' href='/static/fav/favicon60.png'/>
	<link rel='apple-touch-icon' sizes='120x120' href='/static/fav/favicon120.png'/>
	<link rel='apple-touch-icon' sizes='76x76' href='/static/fav/favicon76.png'/>
	<link rel='apple-touch-icon' sizes='152x152' href='/static/fav/favicon152.png'/>
	<link rel='apple-touch-icon' sizes='180x180' href='/static/fav/favicon180.png'/>
	<meta name='msapplication-TileColor' content='#FF0000'/>
	<meta name='msapplication-TileImage' content='/static/fav/icon144.png'/>
	<meta name='msapplication-config' content='/static/dav/browserconfig.xml'/>
	<link href='/static/style.css' rel='stylesheet'/>
	<script src='/static/script.js' type='application/javascript'></script>
    </head>
    <body>
	<table id='mainpanel'>
	    <tr>
		<td class='loginlogo'>
		    <img class='loginlogo' src='/static/logo128.png' alt='logo'/>
		</td>
		<td>
		    <form method='post' action='/login/2fa'>
			<input type='hidden' name='userid' value='{{ userid }}'/>
			<input type='hidden' name='token' value='{{ secret }}'/>
			<input type='text' name='confirmation' size='8'/>
			<input type='submit' value='Confirm 2FA'/>
		    </form>
		</td>
		<td class='loginpadding'></td>
	    </tr>
	</table>
    </body>
</html>
